<div id="kpi-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-xl shadow-xl w-3/4 max-w-2xl p-8 overflow-auto">
        <h1 class="text-2xl font-bold mb-4">
            {% if is_update %}
                تعديل مؤشر {{ object.kpi }}
            {% else %}
                إضافة مؤشر أداء رئيسي لمبادرة {{ initiative.title }}
            {% endif %}
        </h1>

        <form id="kpiForm" method="post" {% if object %} data-is-update="true" {% endif %}
            action="{% if is_update %}{% url 'kpi_update' initiative.id object.id %}{% else %}{% url 'kpi_create' initiative.id %}{% endif %}">
            {% csrf_token %}
            <div class="mb-4">
                {{ form.kpi.label_tag }}<br>
                {{ form.kpi }}
                {% if form.kpi.errors %}
                    <div class="text-red-500">{{ form.kpi.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-4">
                {{ form.unit.label_tag }}<br>
                {{ form.unit }}
                {% if form.unit.errors %}
                    <div class="text-red-500">{{ form.unit.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-4">
                {{ form.target_value.label_tag }}<br>
                {{ form.target_value }}
                {% if form.target_value.errors %}
                    <div class="text-red-500">{{ form.target_value.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-4">
                {{ form.actual_value.label_tag }}<br>
                {{ form.actual_value }}
                {% if form.actual_value.errors %}
                    <div class="text-red-500">{{ form.actual_value.errors }}</div>
                {% endif %}
            </div>

            <div class="flex justify-end gap-4 mt-6">
                <button id="cancel-btn-kpi" type="button" class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
                    إلغاء
                </button>

                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                    {% if object %}تحديث{% else %}إضافة{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
