<div class="h-full w-full flex flex-col overflow-hidden">

  <!-- Breadcrumbs -->
  <div class="text-gray-500 text-sm mt-2 mb-4">
    <a href="/dashboard" class="hover:text-gray-700">لوحة التحكم</a> /
    <a href="/notes" class="hover:text-gray-700">الملاحظات</a> /
    <span class="text-gray-800 font-semibold">تفاصيل الملاحظة</span>
  </div>

  <div class="h-px bg-gray-100 w-1/2 mt-2 mb-4"></div>

  <!-- Note Card -->
  <div class="bg-white p-4 rounded-lg shadow w-full space-y-2 flex flex-col flex-1 min-h-0 overflow-hidden">

    <!-- Meta (Header) -->
    <div class="bg-gradient-to-l from-gray-50 to-gray-100 rounded-lg space-y-3 p-4 items-center">

      <!-- Title + Date -->
      <div class="flex justify-between items-center">
        <h2 class="font-semibold text-sm text-gray-800 break-all whitespace-wrap">
          {{ note.title }}
        </h2>
        <span class="text-xs text-gray-400 whitespace-nowrap">
          {{ note.created_at|date:"Y/m/d، g:i a" }}
        </span>
      </div>

      <!-- From / To -->
      <div class="flex justify-between text-sm text-gray-600">
        <div>
          <span class="text-gray-500">من:</span>
          {% if note.sender == request.user %}
          انت
          {% else %}
          {{ note.sender.get_full_name }}
          {% endif %}
        </div>

        <div>
          <span class="text-gray-500">إلى:</span>
          {% if note.initiative %}
          {{ note.initiative.title }}
          {% elif note.strategic_goal %}
          {{ note.strategic_goal.goal_title }}
          {% elif note.receiver == request.user %}
          انت
          {% else %}
          {{ note.receiver.get_full_name }}
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Divider -->
    <hr class="border-t border-gray-200" />

    <div id="replies-container" class="flex-1 min-h-0 overflow-auto chat-scroll">

      <!-- Content -->
      <div class="text-gray-800 leading-relaxed px-1 pt-2 break-all whitespace-wrap">
        {{ note.content }}
      </div>

      {% if can_reply %}
      <!-- Divider -->
      <div class="flex items-center justify-center gap-3 my-4 pt-2 mb-2">
        <span class="h-px w-1/3 bg-gray-200"></span>
        <span class="text-xs text-gray-500 font-semibold">الردود</span>
        <span class="h-px w-1/3 bg-gray-200"></span>
      </div>
      {% if grouped_replies %}
      {% for group in grouped_replies %}
      <div class="text-center text-xs text-gray-400 mb-2">
        {{ group.date|date:"Y/m/d" }}
      </div>

      {% for reply in group.notes %}
      {% include "partials/note_chat_message.html" %}
      {% endfor %}

      {% endfor %}

      {% else %}
      <!-- Divider -->
      <p class="text-gray-400 text-center py-4">لا يوجد ردود حتى الآن</p>
      {% endif %}
      {% endif %}

      <div class="absolute bottom-16 left-0 right-0 h-6
            bg-gradient-to-t from-white to-transparent pointer-events-none">
      </div>
    </div>

    <!-- Reply Box -->
    {% if not plan_ended %}
    {% if can_reply %}
    <form hx-post="{% url 'note_detail' note.pk %}" hx-target="#replies-container" hx-swap="beforeend"
      class="flex items-center gap-2 px-2 sticky bottom-0">
      {% csrf_token %}
      <input type="hidden" name="action" value="reply" />

      <textarea name="reply_content" rows="1" placeholder="اكتب ردك هنا..."
        class="w-full resize-none rounded-full border border-gray-200 px-4 py-2 text-sm focus:outline-none focus:ring-0  break-words whitespace-pre-wrap"></textarea>

      <button type="submit"
        class="bg-[#00A399] text-white rounded-full px-4 py-2 text-sm  hover:bg-[#018077] text-white  transition-colors">
        إرسال
      </button>
    </form>
    {% endif %}
    {% else %}
    <div id="notif"
      class="relative flex items-center gap-2 bg-[#fff3dc] border-r-4 border-[#faa912] px-3 py-2 mt-2 rounded-md text-sm font-semibold text-[0.8em] text-yellow-800 shadow-sm">
      <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 9v4" />
        <path
          d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0" />
        <path d="M12 16h.01" />
      </svg>
      <span>
        عذرًا، لا يمكنك الرد على هذه الملاحظة، نظرًا لانتهاء فترة الخطة.
      </span>
    </div>

    {% endif %}
  </div>
</div>
