 <div class="chat {% if reply.sender == request.user %}chat-end{% else %}chat-start{% endif %}">
        <div class="chat-header text-xs font-semibold text-gray-500 mb-1">
          {{ reply.sender.get_full_name }}
        </div>

        <div class="chat-bubble relative break-words max-w-[75%]
                     {% if reply.sender == request.user %}
                       bg-[#698274]/40 text-gray-800
                     {% else %}
                       bg-gray-100 text-gray-800
                     {% endif %}">
          {{ reply.content }}

          <time class="block mt-1 text-[10px] text-gray-500 text-left">
            {{ reply.created_at|date:"g:i a" }}
          </time>
        </div>

        <div class="chat-footer text-xs text-gray-400 mt-1">

          {% if request.user == reply.sender %}

          {% if note.receiver %}

          {% if is_read_by_receiver %}
          مقروءة
          {% else %}
          تم الإرسال
          {% endif %}

          {% endif %}

          {% endif %}

        </div>
      </div>