
    {% for plan in plans %}
    <tr class="border-b hover:bg-gray-50" data-title="{{ plan.plan_name }}" data-status="{% if plan.is_active %}active{% else %}inactive{% endif %}">
        <td class="px-6 py-4 font-medium">{{ plan.plan_name }}</td>
        <td class="px-6 py-4">  {{ plan.created_by|default:"-" }}</td>
        <td class="px-6 py-4">
            {% if plan.is_active %}
            <span class="px-3 py-1 text-xs bg-green-100 text-green-700 rounded-full">نشطة</span>
            {% else %}
            <span class="px-3 py-1 text-xs bg-gray-200 text-gray-700 rounded-full">غير نشطة</span>
            {% endif %}
        </td>
        <td>
            <button 
    onclick="openDeleteModal(`{% url 'plan_delete' plan.id %}`, `هل تريد حذف هذه الخطة؟`)" 
    class="text-red-600">
               حذف
         </button>
        </td>
        

    </tr>
    {% empty %}
    <tr >
        <td colspan="4" class="text-center py-4 text-gray-500 font-medium">لا توجد خطط</td>
    </tr>
    {% endfor %}

