<!DOCTYPE html>
<html lang="ar" dir="rtl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}متابعة الأداء المؤسسي{% endblock %}</title>
        {% load static %}

    <!-- APP CSS -->
    <link rel="stylesheet" href="{% static 'CPMS_app/style.css' %}">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- APP JS -->
    <script defer src="{% static 'CPMS_app/app.js' %}"></script>
    <!-- Daisy UI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <!-- Chart JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Font -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>

    <body class="flex bg-gray-50 min-h-screen">

        <!-- navbar -->
        <aside class="w-64 bg-white shadow-md flex flex-col sticky top-0 h-screen">
            <div class="p-6 flex items-center gap-3 border-b border-gray-200 bg-[#00685E] text-white">
                <h1 class="text-xl font-normal text-white">متابعة الأداء المؤسسي</h1>
            </div>
            <ul class="flex-1 mt-6 space-y-2">
                <li>
                    <a href="{% url 'dashboard' %}"
                        class="flex items-center gap-3 px-6 py-3 text-gray-700 hover:bg-green-100 hover:text-green-700 rounded-lg transition">
                        <span>لوحة التحكم</span>
                    </a>
                </li>
                <!-- GM, M, CM -->
                {% if request.user.role.role_name != 'E' %}
                <li>
                    <a href="{% url 'plans_list' %}"
                        class="flex items-center gap-3 px-6 py-3 text-gray-700 hover:bg-green-100 hover:text-green-700 rounded-lg transition">
                        <span>الخطط الاستراتيجية</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'goals_list' %}"
                        class="flex items-center gap-3 px-6 py-3 text-gray-700 hover:bg-green-100 hover:text-green-700 rounded-lg transition">
                        <span>الأهداف الاستراتيجية</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'initiatives_list' %}"
                        class="flex items-center gap-3 px-6 py-3 text-gray-700 hover:bg-green-100 hover:text-green-700 rounded-lg transition">
                        <span>المبادرات</span>
                    </a>
                </li>
                {% endif %}
                <!-- M, CM, E -->
                {% if request.user.role.role_name != 'GM' %}
                <li>
                    <a href="{% url 'notes_list' %}"
                        class="flex items-center gap-3 px-6 py-3 text-gray-700 hover:bg-green-100 hover:text-green-700 rounded-lg transition">
                        <span>الملاحظات</span>
                    </a>
                </li>
                {% endif %}
            <!-- Maybe all -->
                <li>
                    <a href="{% url 'logs_list' %}"
                        class="flex items-center gap-3 px-6 py-3 text-gray-700 hover:bg-green-100 hover:text-green-700 rounded-lg transition">
                        <span>سجل النظام</span>
                    </a>
                </li>
            </ul>
            <div class="p-6 border-t border-gray-200">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="flex items-center gap-3 text-gray-700 hover:text-red-600 transition">
                        تسجيل الخروج
                    </button>
                </form>
            </div>
        </aside>

        <main class="flex-1 p-8">
            <!-- Breadcrumb -->
            <nav class="text-sm text-gray-500 mb-4" aria-label="Breadcrumb">
                <ol class="list-none p-0 inline-flex items-center space-x-2">
                    <li>
                        <a href="{% url 'dashboard' %}" class="hover:text-gray-700">لوحة التحكم</a>
                    </li>
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
            {% block content %}
            {% endblock %}
        </main>
        {% if messages %}
        <div id="django-messages" class="fixed top-5 right-5 space-y-3 z-50 w-96">

            {% for message in messages %}

            <div role="alert" class="toast-message rounded-lg p-4 shadow-md flex items-center gap-3 text-sm font-semibold
                {% if 'delete' in message.tags %}bg-red-50 text-red-600
                {% elif 'update' in message.tags %}bg-yellow-50 text-yellow-600
                {% elif 'create' in message.tags %}bg-green-50 text-green-600
                {% elif 'error' in message.tags %}bg-red-50 text-red-600
                {% else %}bg-gray-50 text-black{% endif %}">
                {% if 'error' in message.tags %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6 shrink-0 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                {% endif %}
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        </div>

        {% endif %}

    </body>


</html>