<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}        
        
        <!-- APP CSS -->
        <link rel="stylesheet" href="{% static 'CPMS_app/style.css' %}">
        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- APP JS -->
        <script defer src="{% static 'CPMS_app/app.js' %}"></script>

    </head>
<body dir="rtl" >

    <nav> 
        <div id="logo">
            <p>CPMS</p>
        </div>
        <div class="flex">
            <a href="{% url 'initiatives_list' %}" class="nav-items">Initiatives</a>
            <a href="{% url 'plans_list' %}" class="nav-items">Plans</a>
            <a href="{% url 'goals_list' %}" class="nav-items">Goals</a>
            <a href="{% url 'login' %}">Log In</a>
        </div>
    </nav>

    <!-- toastify like message -->
    {% if messages %}
        <div id="django-messages" class="fixed top-50 right-5 space-y-2 z-50">
        {% for message in messages %}
            <div class="message px-4 py-2 rounded shadow-md text-xl
                        {% if message.tags == 'success' %}bg-green-100 text-green-800{% endif %}
                        {% if message.tags == 'error' %}bg-red-100 text-red-800{% endif %}
                        {% if message.tags == 'info' %}bg-blue-100 text-blue-800{% endif %}">
                    
                <span class="flex items-center gap-1">
                    
                    {{ message }}

                    <!-- icons  -->
                    {% if message.tags == 'error' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                    </svg>

                    {% elif message.tags == 'success' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    {% endif %}

                </span>

            </div>
        {% endfor %}
        </div>


        <script>
        // hide messages after 3 seconds
        setTimeout(() => {
            const container = document.getElementById("django-messages");
            if(container) {
            container.style.transition = "opacity 0.5s ease";
            container.style.opacity = 0;
            setTimeout(() => container.remove(), 500); // remove from DOM
            }
        }, 3000);
        </script>
    {% endif %}

    <main>
        {% block content %}
        <!-- This is where the individual pages will be rendered -->
        {% endblock %}

    </main>

</body>
</html>
