{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8" dir="rtl">
    <div class="max-w-2xl mx-auto">
        <div class="bg-white shadow-lg rounded-2xl border-gray-900 p-8">

            <h1 class="text-xl font-semibold text-gray-700 text-center mb-8">
                {% if object %}نموذج تعديل هدف{% else %}نموذج إضافة هدف{% endif %}
            </h1>

            <form method="post" data-edit="{% if object %}true{% else %}false{% endif %}" class="space-y-6">
                {% csrf_token %}

                <!--Goal Title-->
                <div>
                    <label for="{{ form.goal_title.id_for_label }}"
                        class="block mb-2 px-2 text-sm font-semibold text-gray-800">
                        {{ form.goal_title.label}} <span class="text-red-500"> *</span>
                    </label>
                    <input type="text" name="{{ form.goal_title.name }}" value="{{ form.goal_title.value|default:'' }}"
                        placeholder="مثال: تحسين سرعة إنجاز المشاريع التشغيلية." class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
                        rounded-xl shadow-sm block w-full p-2.5
                        focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500
                        hover:border-gray-400 transition-all duration-200">

                    {% if form.goal_title.errors %}
                    <div class="flex items-center gap-1 text-red-600 text-xs mt-1"> ⚠ {{ form.goal_title.errors }}</div>
                    {% endif %}
                </div>

                <!-- Goal description -->
                <div>
                    <label for="{{ form.description.id_for_label }}"
                        class="block mb-2 px-2 text-sm font-semibold text-gray-800">
                        {{ form.description.label}} <span class="text-red-500">*</span>
                    </label>
                    <textarea name="{{ form.description.name }}" id="{{ form.description.id_for_label }}" rows="5"
                        placeholder="مثال: تطوير آليات متابعة وتنسيق فرق العمل لضمان تنفيذ المشاريع التشغيلية في الوقت المحدد، وتقليل التأخير بنسبة 15% خلال فترة الخطة."
                        class="block p-2.5 w-full text-sm text-gray-900
                               bg-gray-50 rounded-xl shadow-sm border border-gray-300
                               focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500
                               hover:border-gray-400 transition-all duration-200 resize-none">{{ form.description.value|default:'' }}</textarea>

                    {% if form.description.errors %}
                    <div class="flex items-center gap-1 text-red-600 text-xs mt-1"> ⚠ {{ form.description.errors }}
                    </div>
                    {% endif %}
                </div>

                <div class="grid grid-cols-[1fr_auto_1fr] items-center gap-14 px-2">

                    <!--Goal Status-->
                    <div class="flex items-center">
                        <label for="{{ form.goal_status.id_for_label }}"
                            class="text-sm font-semibold text-gray-800 w-24 ">
                            {{form.goal_status.label}}<span class="text-red-500"> *</span>
                        </label>
                        {{ form.goal_status }}
                    </div>
                    {% if form.goal_status.errors %}
                    <div class="flex items-center gap-1 text-red-600 text-xs mt-1"> ⚠ {{ form.goal_status.errors }}
                    </div>
                    {% endif %}

                    <!--Goal Priority-->
                    <div class="flex items-center">
                        <label for="{{ form.goal_priority.id_for_label }}"
                            class="text-sm font-semibold text-gray-800 w-24">
                            {{ form.goal_priority.label}}<span class="text-red-500"> *</span>
                        </label>

                        {{ form.goal_priority }}

                    </div>
                    {% if form.goal_priority.errors %}
                    <div class="flex items-center gap-1 text-red-600 text-xs mt-1"> ⚠ {{ form.goal_priority.errors }}
                    </div>
                    {% endif %}
                </div>

                <!-- Goal Satrt&End Date -->
                <div>
                    <label class="block mb-2 px-2 text-sm font-semibold text-gray-800">
                        مدة تنفيذ الهدف <span class="text-red-500">*</span>
                    </label>
                    <div class="grid grid-cols-[1fr_auto_1fr] items-center gap-4">
                        <!--Satrt Date-->
                        <input type="date" name="{{ form.start_date.name }}"
                            value="{% if form.start_date.value %}{{ form.start_date.value }}{% endif %}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
                                   rounded-xl shadow-sm block w-full p-2.5
                                   focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500
                                   hover:border-gray-400 transition-all duration-200">
                        {% if form.start_date.errors %}
                        <div class="flex items-center gap-1 text-red-600 text-xs mt-1"> ⚠ {{ form.start_date.errors }}
                        </div>
                        {% endif %}

                        <span class="text-sm font-medium text-gray-600">إلى</span>

                        <!--End Date-->
                        <input type="date" name="{{ form.end_date.name }}"
                            value="{% if form.end_date.value %}{{ form.end_date.value|date:'Y-m-d' }}{% endif %}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
                                   rounded-xl shadow-sm block w-full p-2.5
                                   focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500
                                   hover:border-gray-400 transition-all duration-200">
                        {% if form.end_date.errors %}
                        <div class="flex items-center gap-1 text-red-600 text-xs mt-1"> ⚠ {{ form.end_date.errors }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!--Buttons container-->
                <div class="flex gap-4 mt-12">
                    <!-- Create/Update Button-->
                    <button type="submit" class="px-6 py-2.5 text-sm font-medium rounded-lg
                             text-white bg-[#00A399] hover:bg-[#018077]
                            shadow-md hover:shadow-lg transform hover:-translate-y-0.5
                            transition duration-200 focus:ring-4 focus:ring-[#018077]/30">
                        {% if object %}تعديل{% else %}حفظ{% endif %}
                    </button>

                    <!-- Cancel Button-->
                    <button type="button"
                        onclick="if(document.referrer) { window.location.href = document.referrer; } else { window.history.go(-1); }"
                        class="px-6 py-2.5 text-sm font-medium rounded-lg
                            text-gray-800 bg-gray-200 hover:bg-gray-300
                            shadow-md hover:shadow-lg transform hover:-translate-y-0.5
                            transition duration-200 focus:ring-4 focus:ring-gray-200">
                        إلغاء
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}