{% extends 'base.html' %}
{% block breadcrumb %}
<li class="flex items-center">
    <span class="mx-2">/</span>
    <a href="{% url 'initiatives_list' %}" class="hover:text-gray-700">المبادرات</a>
</li>
<li class="flex items-center">
    <span class="mx-2">/</span>
    <span class="text-gray-800 font-semibold">تفاصيل المبادرة</span>
</li>
{% endblock %}
{% block content %}    
{% include "partials/confirm_delete.html" %}

<section class="py-6" dir="rtl">
    <div class="max-w-6xl mx-auto p-8 bg-white p-10 rounded-xl space-y-6  ">
        
        <!-- grid -->
        <div class="grid grid-cols-3 bg-gradient-to-l from-gray-50 to-white auto-rows-min mt-5 pb-5 gap-2 ">

            <!-- col 1,2 row 1 title and strategic goal -->
            <div class="col-span-2 ">
                <!-- title and strategic goal -->
                <div class=" px-4 py-2 pt-5 rounded-md">
                    <h2 class="text-2xl font-semibold text-gray-800">
                        مبادرة {{ initiative.title }}
                    </h2>
                    <span class="flex inline-flex justify-start items-center rounded-full text-sm text-gray-400 bg-gray-50 gap-3 px-3 py-0 mt-4">
                        {{initiative.strategic_goal.goal_title}} 
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#E5E7EB" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                        </svg>

                        {{initiative.title}}
                    </span>
                </div>
            </div>

            <!-- col 3, row 1,2 progress -->
            <div class=" row-span-2 max-h-[8.25rem] overflow-hidden !mt-5">
                <!-- progress -->
                <div class="relative w-60 h-60 ml-10  ">
                    <svg class="w-full h-full rotate-180" viewBox="0 0 36 36">
                        <circle cx="18" cy="18" r="16" fill="none" class="{%if is_initiative_late %}stroke-current text-red-100 shadow-red-200 {% else %} stroke-current text-green-100 {% endif %}" stroke-width="3" stroke-dasharray="50 100" stroke-linecap="round"></circle>
                        
                        <circle id="gauge" cx="18" cy="18" r="16" fill="none" data-value = '{{avg_by_two|floatformat:0}}' class="{%if is_initiative_late %}stroke-current text-red-600 {% else %} stroke-current text-green-600 {% endif %} transition-all duration-1000 ease-out" stroke-width="1" stroke-dasharray="0 100" stroke-linecap="round"></circle>
                    </svg>
                    <div class="absolute inset-0 flex flex-col items-center justify-start text-center pt-16">
                        <span id="gauge-text" class="text-2xl font-bold {%if is_initiative_late %} text-red-600 {% else %} text-green-600 {% endif %}">{{ avg|floatformat:0 }}%</span>
                        <span class="text-xs {%if is_initiative_late %} text-red-600 {% else %} text-green-600 {% endif %}">مستوى التقدم</span>
                    </div>
                </div>   
            </div>

            <!-- col 1,2 , row 2 manager -->
            <div class=" col-span-2 mt-8">
                <span class="flex gap-3 mx-5 text-sm"  >        
                    <h1 class="font-medium"> مدير المبادرة </h1>
                    <h1 class="items-center inline-flex gap-1 px-3" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z" clip-rule="evenodd" />
                        </svg>
                        {{ manager.get_full_name }}
                    </h1>
                </span>  
            </div>

            <!-- col 1,2, row 3 starte and end dates -->
            <div class="col-span-3 ">
            
                <!-- start and end dates -->
                <div class="inline-flex justify-center items-center gap-9 mx-5 mt-3 text-base">
                    <span class="flex justify-center gap-4 text-sm"  >        
                        <h1 class="font-medium"> تاريخ البداية </h1>
                        <h1 class="rounded-full items-center inline-flex gap-1 px-3 border bg-gray-100">
                            {{ initiative.start_date }}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5">
                            <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                            <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                        </svg>
                        </h1>
                    </span>  
                    <span class="flex justify-center gap-4 text-sm"  >        
                        <h1 class="font-medium"> تاريخ النهاية </h1>
                        <h1 class="rounded-full items-center inline-flex gap-1 px-3 border bg-gray-100">
                            {{ initiative.end_date }}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5">
                            <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                            <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                        </svg>
                        </h1>
                    </span>  
                </div> 

            </div>

        <!-- end of grid -->
        </div>


        <!-- horizontal line -->
        <div class="w-1/2 h-px bg-gray-200 mx-auto !mt-14 !mb-8"></div>


        <!-- description -->
        <span  >   
            <h1 class=" mr-3 font-medium"> الوصف </h1>
            <h1 class=" items-center inline-flex gap-1 px-5  text-sm">
                {{ initiative.description }} 
            </h1>
        </span>

        <!-- horizontal line -->
        <hr class="border-t border-gray-300 my-4">


        <!-- priority and category -->
        <div class="flex justify-center items-center !mt-2">
            <div class="inline-flex justify-center items-center gap-9 mx-5 mt-3 text-base">
                <span class="flex justify-center gap-4 text-sm"  >        
                    <h1 class="font-medium"> الأهمية </h1>
                    <h1 class="px-3 py-1 rounded-full text-xs font-semibold
                    {% if initiative.priority == 'C' %}   border-red-500    red-600    bg-red-100    text-red-800  
                    {% elif initiative.priority == 'H' %} border-orange-500 orange-500 bg-orange-100 text-orange-800
                    {% elif initiative.priority == 'M' %} border-yellow-500 yellow-500 bg-yellow-100 text-yellow-800 
                    {% else %}                            border-green-500  green-500  bg-green-100  text-green-800 {% endif %}
                    "> {{ initiative.get_priority_display }} </h1>
                </span>  
                <span class="flex justify-center gap-4 text-sm"  >        
                    <h1 class="font-medium"> التصنيف </h1>
                    <h1 class="px-3 py-1 rounded-full bg-blue-100 text-blue-800 text-xs font-semibold"> {{ initiative.category }}</h1>
                </span>  
            </div> 
        </div>


        <!-- KPIs -->
        <div class="bg-white p-4 rounded-lg shadow">
            <div class="flex justify-between">
                <h1 class="font-semibold m-2">مؤشرات الأداء الرئيسية</h1>
                {% if request.user.role.role_name == 'M' or request.user.role.role_name == 'CM' %}
                    <div>
                        <button id="add_kpi_button" class="bg-blue-600 hover:bg-blue-700 text-white px-2 py-2 rounded-md text-sm font-semibold" data-initiative-id="{{ initiative.id }}" data-initiative-title="{{ initiative.title }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
                            </svg>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="overflow-x-auto mt-4">
                <div class="flex gap-4 min-w-max ">
                    {% for kpi in initiative.kpi_set.all %}
                    <div class="p-3 rounded-lg border bg-gray-50 flex flex-col items-center gap-2 shrink-0 min-w-48 w-fit">
                        <span class="text-sm font-medium text-gray-700" data-kpi-id="{{ kpi.id }}" data-initiative-id="{{ initiative.id }}">
                            {{ kpi.kpi }}
                        </span>

                        <span class="text-xs text-gray-500">
                            {{ kpi.actual_value }} / {{ kpi.target_value|default:"—" }}
                        </span>

                            {% if user.role.role_name == 'M' or user.role.role_name == 'CM' %} 
                                
                                <div class="flex gap-2 pt-1">
                                    <a href="#" 
                                        class="edit-kpi-btn text-yellow-600 hover:text-yellow-800 p-1 inline-flex items-center gap-1"
                                        data-kpi-id="{{ kpi.id }}"
                                        data-initiative-id="{{ initiative.id }}"
                                        data-kpi-name="{{ kpi.kpi }}"
                                        data-unit="{{ kpi.unit }}"
                                        data-target="{{ kpi.target_value|default_if_none:'' }}"
                                        data-actual="{{ kpi.actual_value|default_if_none:'' }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415" />
                                            <path d="M16 5l3 3" />
                                        </svg>
                                    </a>
                                    
                                    <button class="text-red-600 hover:text-red-800 p-1" onclick="openDeleteModal('/initiatives/{{ initiative.id }}/kpis/{{ kpi.id }}/delete/','هل أنت متأكد أنك تريد حذف هذا المؤشر')">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7l16 0" />
                                            <path d="M10 11l0 6" />
                                            <path d="M14 11l0 6" />
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                        </svg>
                                    </button>
                                </div>
                            {% endif %}
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <!-- employees -->
        {% if user.role.role_name == 'M' or user.role.role_name == 'CM' or user.role.role_name == 'GM' or user in assigned_employees %}
        <div class="overflow-hidden rounded-lg border border-gray-200">
            <div class="bg-white p-4 rounded-lg shadow">
                <div class="flex justify-between pb-6">
                    <h1 class="font-semibold m-2">فريق المبادرة</h1>
                        <div>
                            {% if user.role.role_name == 'CM' or user.role.role_name == 'M' %}
                                <button class = "assign_employee_button bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md text-sm font-semibold">
                                    تعيين موظف
                                </button>
                            {% endif %}
                        </div>
                </div>
        
                <table class="w-full border-collapse text-sm">
                    {% if not assigned_employees %}
                        <div>لا يوجد</div>
                    {% else %}
                        <thead class="bg-gray-100">
                            <tr>
                                <th class="px-4 py-2 text-right w-1/4">الموظف</th>
                                <th class="px-4 py-2 text-right w-1/4">الحالة</th>
                                <th class="px-4 py-2 text-right w-1/2">
                                    <div class="flex justify-between">
                                        التقدم
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>                        
                            {% for employee, progress, status, color in employee_progress %}
                                <tr class="border-b border-gray-200 hover:bg-gray-50 transition
                                        {% if employee == request.user %} bg-[#8BAA99]/20 hover:bg-[#698274] {% else %} hover:bg-gray-50 {% endif %}">
                                    <td class="px-4 py-2 text-right">{{employee.get_full_name}}</td>
                                    <td class="px-4 py-2 text-right text-gray-600">{{status}}</td>
                                    <td class="px-4 py-2">
                                        <div class="flex items-center gap-x-3 whitespace-nowrap">
                                            <div class="flex w-full h-2 bg-gray-200 rounded-full overflow-hidden" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                                                <div class="flex flex-col justify-center rounded-full overflow-hidden {{color}} text-xs text-white text-center whitespace-nowrap transition duration-500" style="width: {{progress}}%"></div>
                                            </div>
                                            <div class="w-10 text-end">
                                                <span class="text-sm text-gray-800">{{progress}}%</span>
                                            </div>
                                            {% if employee == request.user %}                                               
                                                <button
                                                    class="add-progress-btn text-yellow-600 hover:text-yellow-800 px-3 py-1 rounded-md text-xs font-semibold"
                                                    data-initiative-id="{{ initiative.pk }}"
                                                    data-current-progress="{{ progress }}"
                                                    onclick="addProgress(this)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                                            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415" />
                                                            <path d="M16 5l3 3" />
                                                        </svg>
                                                </button>

                                    {% endif %}

                                        </div>
                                        
                                    </td>
                                </tr>
                            {% empty %}
                                <tr class="border-b border-gray-200 hover:bg-gray-50 transition"> لا يوجد </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                </table>
            </div>
        </div>
        {% endif %}


        <!-- notes -->
        {% if user.role.role_name != 'GM' %} <!-- managers and employees can send initiative-level notes -->
            <div class="bg-white p-4 rounded-lg shadow">
                <div class="flex justify-between">
                    <h1 class="font-semibold m-2">الملاحظات</h1>
                    <div>
                <button class="bg-[#00A399] rounded-lg p-3  hover:bg-[#018077] text-white rounded-lg transition-colors" onclick="openWindow('/notes/create')">أرسل ملاحظة</button>
                    </div>
                </div>
            </div>
        {% endif %}


        <!-- edit and delete -->
        {% if user.role.role_name == 'CM' or user.role.role_name == 'M' %}
            <div class="flex justify-evenly">
                <button class="bg-yellow-600 rounded-lg p-3  hover:bg-yellow-800 text-white rounded-lg transition-colors flex gap-1" onclick="window.open(
                '/initiatives/{{initiative.id}}/update/','_blank');"> تعديل المبادرة
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415" />
                        <path d="M16 5l3 3" />
                    </svg>
                </button>

                <button
                    class="bg-red-600 rounded-lg p-3  hover:bg-red-800 text-white rounded-lg transition-colors flex gap-1"
                    onclick="openDeleteModal( 
                        '/initiatives/{{ initiative.id }}/delete/',
                        'هل أنت متأكد أنك تريد حذف هذه المبادرة؟'
                    )">
                    حذف المبادرة
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 7l16 0" />
                        <path d="M10 11l0 6" />
                        <path d="M14 11l0 6" />
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                    </svg>
                </button>
            </div>
        {% endif %}

    </div>

    {% include "partials/assign_employee.html" %}
    {% include "partials/update_initiative_modal.html" %}
    {% include "partials/kpi_modal.html" %}


</section>

{% endblock %}
