{% extends 'base.html' %}
{% block content %}    
<!-- ##add notes to general manager -->
<h1> مبادرة {{ initiative.title }}</h1>
<ul>
    <li><strong> الوصف:</strong> <em>{{ initiative.description }}</em></li>
    <li><strong>تاريخ البداية: </strong> {{ initiative.start_date }}</li>
    <li><strong>تاريخ النهاية: </strong> {{ initiative.end_date }}</li>
    <li><strong>الأهمية: </strong> {{ initiative.priority }}</li>
    <li><strong>التصنيف: </strong> {{ initiative.category }} </li>
    <li><strong>الهدف الاستراتيجي المرتبط بالمبادرة: </strong> {{ initiative.strategic_goal }}</li>
</ul>

{% if user.role.role_name == 'M' or user.role.role_name == 'CM' %}
    <button class="button" onclick="window.open(
    '/initiatives/{{initiative.id}}/update/','_blank');">
        تعديل
    </button>

    <button class="button" onclick="window.open(
    '/initiatives/{{initiative.id}}/delete/','_blank');">
        حذف
    </button>

    <button  class="button"onclick="openPopup('/initiatives/{{initiative.id}}/assign')"> <!-- ##error handling -->
        تعيين موظفين
    </button>
{% endif %}

{% if user.role.role_name != 'GM' %} <!-- managers and employees can send initiative-level notes -->
    <button class="button" onclick="openPopup('/notes/create')">أرسل ملاحظة</button>
{% endif %}

{% endblock %}