<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>
</head>
<body>

<h2>All Logs</h2>

<table border="1">
    <thead>
        <tr>
            <th>User</th>
            <th>Table</th>
            <th>Record ID</th>
            <th>Action</th>
            <th>Old Value</th>
            <th>New Value</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
           <td>{{ log.user.get_full_name }}</td>
            <td>{{ log.table_name }}</td>
            <td>{{ log.record_id }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.old_value }}</td>
            <td>{{ log.new_value }}</td>
            <td>{{ log.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination -->
<div>
    {% if logs.has_previous %}
        <a href="?page={{ logs.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ logs.number }} of {{ logs.paginator.num_pages }}</span>

    {% if logs.has_next %}
        <a href="?page={{ logs.next_page_number }}">Next</a>
    {% endif %}
</div>

</body>
</html>
