{% extends "base.html" %}
{% load static %}
{% block title %} الملاحظات {% endblock %}
{% block breadcrumb %}
<li class="flex items-center">
    <span class="mx-2">/</span>
    <span class="text-gray-800 font-semibold">الملاحظات</span>
</li>
{% endblock %}
{% block content %}

<div class="flex h-[85vh] min-h-0 bg-white rounded-lg shadow mt-6">

    <!-- Sidebar -->
    <aside class="group w-16 hover:w-64 transition-all duration-300 border-r bg-gray-50 p-3 ">

        <a href="{% url 'note_create_modal' %}" hx-get="{% url 'note_create_modal' %}" hx-target="#note-form-container"
            hx-swap="innerHTML" class="flex items-center justify-center gap-3 bg-[#00A399] text-white py-2 mt-2 rounded-lg mb-6 font-semibold hover:bg-[#018077]
                            shadow-md hover:shadow-lg transform hover:-translate-y-0.5
                            transition duration-200 focus:ring-4 focus:ring-[#018077]/30">

            <!-- chat plus icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-message-plus">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 9h8" />
                <path d="M8 13h6" />
                <path d="M12.01 18.594l-4.01 2.406v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v5.5" />
                <path d="M16 19h6" />
                <path d="M19 16v6" />
            </svg>
            <span class="hidden group-hover:inline whitespace-nowrap">
                إرسال ملاحظة
            </span>
        </a>

        <ul class="space-y-1 text-sm">

            <li>
                <a href="{% url 'notes_list' %}?box=all-notes" class="mailbox-btn w-full flex items-center gap-3 px-3 py-2 rounded-full hover:bg-gray-100
                    {% if current_box == 'all-notes' %} bg-[#00A399]/10 text-[#00A399]/100 {% endif %}">
                    <!-- menu icon -->
                    <svg class=" w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <span class="hidden group-hover:inline whitespace-nowrap">
                        الكل
                    </span>
                </a>
            </li>

            {% if request.user.role.role_name != 'GM' %}
            <li>
                <a href="{% url 'notes_list' %}?box=received-notes" class="mailbox-btn relative w-full flex items-center gap-0 px-3 py-2 rounded-full hover:bg-gray-100
                         {% if current_box == 'received-notes' %} bg-[#00A399]/10 text-[#00A399]/100{% endif %}">

                    <!-- inbox icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-inbox">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 6a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2l0 -12" />
                        <path d="M4 13h3l3 3h4l3 -3h3" />
                    </svg>
                   
                    <span id="unread-dot" class="{% if unread_count == 0 %}hidden{% endif %} absolute top-[10px] right-[10px] w-2 h-2
                    bg-red-500 rounded-full group-hover:hidden">
                    </span>

                    <span class="hidden group-hover:inline whitespace-nowrap px-2">
                        الملاحظات الواردة
                    </span>

                    <span id="unread-badge" class="hidden group-hover:inline whitespace-nowrap
                    ml-2 text-xs font-semibold text-red-500 bg-red-100 px-2 py-1 rounded-full">
                        {{ unread_count }}
                    </span>

                </a>
            </li>
            {% endif %}

            <li>
                <a href="{% url 'notes_list' %}?box=sent-notes" class="mailbox-btn w-full flex items-center gap-3 px-3 py-2 rounded-full hover:bg-gray-100
                         {% if current_box == 'sent-notes' %}bg-[#00A399]/10 text-[#00A399]/100 {% endif %}">
                    <!-- send icon -->
                    <svg class=" w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M22 2L11 13" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M22 2L15 22l-4-9-9-4 20-7z" />
                    </svg>
                    <span class="hidden group-hover:inline whitespace-nowrap">
                        الملاحظات المرسلة
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'notes_list' %}?box=starred-notes" class="mailbox-btn w-full flex items-center gap-3 px-3 py-2 rounded-full hover:bg-gray-100
                         {% if current_box == 'starred-notes' %} bg-[#00A399]/10 text-[#00A399]/100{% endif %}">
                    <!-- star icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-star">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873l-6.158 -3.245" />
                    </svg>
                    <span class="hidden group-hover:inline whitespace-nowrap">
                        الملاحظات المميزة بنجمة
                    </span>
                </a>
            </li>

        </ul>
    </aside>


    <!-- Messages Table -->
    <section id="messages-section" class="flex-1 w-32 border-r border-l flex flex-col transition-all duration-300">
        <!-- Top Bar -->
        <div class="p-3 border-b flex items-center justify-between mt-2">
            <div class="relative w-full">
                <!-- Search -->
                <div class="absolute inset-y-0 end-0 flex items-center pe-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-4.35-4.35M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0z" />
                    </svg>
                </div>
                <input type="text" id="search" name="search" class="block w-full pe-9 ps-3 py-2 text-sm
                       border rounded-xl  hover:border-gray-400 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="البحث عن ملاحظة ..." hx-get="{% url 'notes_list' %}"
                    hx-trigger="keyup changed delay:400ms" hx-target="#notes-tbody"
                    hx-include="[name=box],[name=filter]" hx-push-url="true"
                    hx-include="[name='box'], [name='filter']" />
            </div>

            <div class="relative">
                <button id="dropdownDefaultButton"
                    class="flex flex-row-reverse items-center justify-between text-body bg-neutral-secondary-medium text-gray-500 hover:text-gray-800 hover:bg-neutral-tertiary-medium shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none gap-2 "
                    type="button">
                    <svg id="dropdownIconfilter" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-width="2"
                            d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z" />
                    </svg>
                </button>

                <div id="dropdown"
                    class="absolute left-0  hidden bg-white border border-default-medium rounded-lg shadow-lg w-36 overflow-hidden">
                    <ul class="p-2 text-sm text-body font-medium space-y-1">
                        <li>
                            <button type="button" data-filter="all"
                                class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100"
                                hx-get="{% url 'notes_list' %}?box={{ current_box }}" hx-target="#notes-tbody"
                                hx-swap="innerHTML" hx-push-url="true">الكل</button>
                        </li>
                        {% if current_box == "received-notes" %}
                        <li>
                            <button type="button" data-filter="read"
                                class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100"
                                hx-get="{% url 'notes_list' %}?box={{ current_box }}&filter=read"
                                hx-target="#notes-tbody" hx-swap="innerHTML" hx-push-url="true">مقروءة</button>
                        </li>
                        <li>
                            <button type="button" data-filter="unread"
                                class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100"
                                hx-get="{% url 'notes_list' %}?box={{ current_box }}&filter=unread"
                                hx-target="#notes-tbody" hx-swap="innerHTML" hx-push-url="true">
                                غير مقروءة
                            </button>

                        </li>
                        {% endif %}
                        <li>
                            <button type="button" data-filter="starred"
                                class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100"
                                hx-get="{% url 'notes_list' %}?box={{ current_box }}&filter=starred"
                                hx-target="#notes-tbody" hx-swap="innerHTML" hx-push-url="true">مميزة  بنجمة</button>
                        </li>
                        <li>
                            <button type="button" data-filter="unstarred"
                                class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100"
                                hx-get="{% url 'notes_list' %}?box={{ current_box }}&filter=unstarred"
                                hx-target="#notes-tbody" hx-swap="innerHTML" hx-push-url="true">غير مميزة بنجمة</button>
                        </li>
                        {% if request.user.role.role_name != "E" %}
                        <li>
                            <button type="button" data-filter="goal"
                                class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100"
                                hx-get="{% url 'notes_list' %}?box={{ current_box }}&filter=goal"
                                hx-target="#notes-tbody" hx-swap="innerHTML" hx-push-url="true">حسب الهدف
                            </button>
                        </li>
                        {% endif %}
                        {% if request.user.role.role_name != "GM" %}
                        <li>
                            <button type="button" data-filter="initiative"
                                class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100"
                                hx-get="{% url 'notes_list' %}?box={{ current_box }}&filter=initiative"
                                hx-target="#notes-tbody" hx-swap="innerHTML" hx-push-url="true">حسب المبادرة
                            </button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>

        <!-- Notes List -->
        <div id="notes-list" class="flex-1 min-h-0 overflow-y-auto overflow-x-hidden">
            <table class="w-full">
                <tbody id="notes-tbody" class="w-full text-sm">
                    {% include "partials/notes_table_rows.html" %}
                </tbody>
            </table>
        </div>
    </section>

    <!-- Notes details -->
    <section id="note-preview"
        class="hidden relative w-[55%] flex flex-col min-h-0 overflow-hidden border-l transition-all duration-300">

        <div class="flex-1 min-h-0 overflow-auto p-4">

        </div>
    </section>


</div>

<!-- Hidden checkbox controlling modal (DaisyUI) -->
<input type="checkbox" id="note-modal-toggle" class="modal-toggle">

<div class="modal">
    <div class="modal-box w-full max-w-3xl relative p-0 ">

        <!-- Container where Note Form will load -->
        <div id="note-form-container" class="p-0.5">

        </div>
    </div>
</div>

<script>
    document.body.addEventListener('click', function (e) {
        const row = e.target.closest('.note-row');
        if (!row) return;
        
        if (e.target.closest('.star-btn')) return;

        const noteId = row.dataset.id;

        htmx.ajax('GET', `/notes/${noteId}/detail/`, {
            target: "#note-preview > div",
            swap: "innerHTML"
        });

        const url = new URL(window.location);
        url.searchParams.set("note", noteId);
        window.history.pushState({}, "", url);


        highlightActive(row);
        openPreview();
    });


    
    function openPreview() {
        const messages = document.getElementById('messages-section');
        const preview = document.getElementById('note-preview');

        preview.classList.remove('hidden');
        messages.classList.remove('flex-1');
        messages.classList.add('w-[45%]');
    }


    
    function closePreview() {
        const messages = document.getElementById('messages-section');
        const preview = document.getElementById('note-preview');

        preview.classList.add('hidden');
        messages.classList.remove('w-[45%]');
        messages.classList.add('flex-1');
    }


    function highlightActive(activeRow) {
        document.querySelectorAll('.note-row').forEach(row => {
            row.classList.remove('bg-[#00A399]/10');
        });

        activeRow.classList.add('bg-[#00A399]/10');
    }


    document.addEventListener("DOMContentLoaded", function () {
        const params = new URLSearchParams(window.location.search);
        const noteId = params.get("note");

        if (!noteId) return;

        const noteRow = document.querySelector(
            `.note-row[data-id="${noteId}"]`
        );

        if (noteRow) {
            noteRow.click();
        }
    });



    const icon = document.getElementById("dropdownIconfilter");
    let filterActive = false;

    document.querySelectorAll(".filter-btn").forEach(btn => {
        btn.addEventListener("click", () => {
            const filter = btn.dataset.filter;

            if (filter === "all") {
                filterActive = false;
                icon?.setAttribute("fill", "none");
                icon?.setAttribute("stroke", "currentColor");
            } else {
                filterActive = true;
                icon?.setAttribute("fill", "#00A399");
                icon?.setAttribute("stroke", "#00A399");
            }
        });
    });



    function initNoteForm() {
        const sendType = document.getElementById("send-type");
        if (!sendType) return;

        const receiver = document.getElementById("receiver-field");
        const initiative = document.getElementById("initiative-field");
        const goal = document.getElementById("goal-field");

        function hideAll() {
            receiver?.classList.add("hidden");
            initiative?.classList.add("hidden");
            goal?.classList.add("hidden");
        }

        hideAll();

        sendType.addEventListener("change", function () {
            hideAll();

            if (this.value === "manager" || this.value === "employee") {
                receiver?.classList.remove("hidden");
            }

            if (this.value === "initiative") {
                initiative?.classList.remove("hidden");
            }

            if (this.value === "goal") {
                goal?.classList.remove("hidden");
            }
        });

        sendType.dispatchEvent(new Event("change"));
    }


    document.body.addEventListener("htmx:afterSwap", function (e) {
        if (e.target.id === "note-form-container") {
            document.getElementById('note-modal-toggle').checked = true;
            initNoteForm();
        }
    });
</script>

{% endblock %}