{% extends 'base.html' %}
{% load static %}
{% include 'partials/confirm_delete.html' %}
{% block breadcrumb %}
<li class="flex items-center">
    <span class="mx-2">/</span>
    <a href="{% url 'plans_list' %}" class="hover:text-gray-700">الخطط</a>
</li>
<li class="flex items-center">
    <span class="mx-2">/</span>
    <span class="text-gray-800 font-semibold">تفاصيل الخطة</span>
</li>
{% endblock %}

{% block content %}
<section dir="rtl">
    <div class="max-w-6xl mx-auto px-4 py-6 space-y-6">
        <!-- Main Container -->
        <div class="bg-white rounded-xl shadow-sm p-6 space-y-6">

            <!-- Plan details -->
            <div class="flex items-center gap-3 bg-[#00675B]/20 px-4 py-2 rounded-md">
                <svg class="text-[#00675B]" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-timeline">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 16l6 -7l5 5l5 -6" />
                    <path d="M14 14a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                    <path d="M9 9a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                    <path d="M3 16a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                    <path d="M19 8a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                </svg>

                <h2 class="text-lg font-semibold text-[#00675B]">
                    تفاصيل الخطة
                </h2>
            </div>

            <div class="flex items-center justify-between mt-8 mx-2">
                <!-- Title -->
                <h1 class="text-lg font-medium text-gray-600 md:text-center">
                    {{ plan.plan_name }}
                </h1>
                <div class="flex items-center gap-2 text-xs font-medium">

                    <!-- Dates -->
                    <span
                        class="inline-flex items-center gap-1 px-2 py-1 rounded-full border bg-gray-100 text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="w-4 h-4 text-gray-500">
                            <path
                                d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                            <path fill-rule="evenodd"
                                d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z"
                                clip-rule="evenodd" />
                        </svg>
                        {{ plan.start_date|date:"Y/m/d"}} - {{ plan.end_date|date:'Y/m/d'}}
                    </span>

                    <!-- Status -->
                    {% if plan.is_active %}
                    <span class="inline-flex items-center gap-1 px-3 py-1 rounded-full bg-green-100 text-green-600">
                        نشطة
                    </span>
                    {% else %}
                    <span class="inline-flex items-center gap-1 px-3 py-1 rounded-full bg-red-100 text-red-600">
                        منتهية
                    </span>
                    {% endif %}

                </div>

            </div>

            <div>
                <!-- horizontal line -->
                <div class="w-1/2 h-px bg-gray-200 mx-auto !mt-10 !mb-8"></div>


                <!-- Vision & Mission -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                    <div class="bg-gray-50 p-4 rounded-lg">
                        <p class="flex items-center gap-2 font-semibold text-gray-700 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M6 21l6 -5l6 5" />
                                <path d="M12 13v8" />
                                <path
                                    d="M3.294 13.678l.166 .281c.52 .88 1.624 1.265 2.605 .91l14.242 -5.165a1.023 1.023 0 0 0 .565 -1.456l-2.62 -4.705a1.087 1.087 0 0 0 -1.447 -.42l-.056 .032l-12.694 7.618c-1.02 .613 -1.357 1.897 -.76 2.905" />
                                <path d="M14 5l3 5.5" />
                            </svg>

                            الرؤية
                        </p>
                        <p class="text-gray-600 break-words leading-tight">{{ plan.vision }}</p>
                    </div>

                    <div class="bg-gray-50 p-4 rounded-lg">
                        <p class="flex items-center gap-2 font-semibold text-gray-700 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-flag">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9" />
                                <path d="M5 21v-7" />
                            </svg>

                            الرسالة
                        </p>
                        <p class="text-gray-600 break-words leading-tight">{{ plan.mission }}</p>
                    </div>
                </div>
            </div>

            <!--########################################################################################-->
            <div class="flex items-center gap-3 bg-[#00675B]/20 px-4 py-2 rounded-md">
                <svg class=" text-[#00675B]" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chart-histogram">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 3v18h18" />
                    <path d="M20 18v3" />
                    <path d="M16 16v5" />
                    <path d="M12 13v8" />
                    <path d="M8 16v5" />
                    <path d="M3 11c6 0 5 -5 9 -5s3 5 9 5" />
                </svg>

                <h2 class="text-lg font-semibold text-[#00675B]">
                    ملخص الخطة
                </h2>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-6">

                <div class="bg-white rounded-xl shadow p-6 relative">

                    <!-- فلترة -->
                    <div class="absolute top-4 right-4">
                        <button class="text-gray-500 hover:text-gray-700" title="فلترة">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2l-6 6v6l-4 2v-8L3 6V4z" />
                            </svg>
                        </button>
                    </div>

                    <!-- الكاردات -->
                    <div class="grid grid-cols-2 gap-4 mb-6">

                        <!-- بطاقة عدد الأهداف -->
                        <div class="bg-white p-4 rounded-lg shadow text-center">
                            <h3 class="text-sm text-gray-500 mb-1">عدد الأهداف</h3>
                            <p class="text-3xl font-bold text-gray-800">
                                {{ goals_total }}
                            </p>
                        </div>

                        <!-- بطاقة عدد المبادرات -->
                        <div class="bg-white p-4 rounded-lg shadow text-center">
                            <h3 class="text-sm text-gray-500 mb-1">عدد المبادرات</h3>
                            <p class="text-3xl font-bold text-gray-800">
                                {{ initiatives_count }}
                            </p>
                        </div>

                    </div>

                    <!-- Donut Chart -->
                    <div class="w-full h-72">
                         <h3 class="font-semibold mb-3 text-center" id="donut-chart-title">الحالة الإجمالية للأهداف والمبادرات</h3>
                        <canvas id="goalsInitiativesDonut"></canvas>
                    </div>

                </div>
<!-- fخليها اكثر انجازا واقل انجازا بالفلترة -->
           
            <!-- <div class="mt-8 bg-white p-4 rounded-lg shadow">
                <h3 class="font-semibold mb-4 text-center">top 5 based on completed goals</h3>
                <div class="w-full h-72">
                    <canvas id="progressBarChart"></canvas>
                </div>
            </div>

            <script id="progress-data" type="application/json">
             {% if user.role.role_name == 'GM' %}
                 {{ departments_progress|safe }}
             {% elif user.role.role_name == 'M' or user.role.role_name == 'CM' %}
                 {{ employees_progress|safe }}
             {% endif %}
            </script> -->
            <div class="mt-8 bg-white p-4 rounded-lg shadow">
    <h3 class="font-semibold mb-4 text-center">
        {% if progress_data.view_type == 'departments' %}
            أفضل 5 إدارات حسب التقدم
        {% else %}
            أفضل 5 موظفين حسب التقدم
        {% endif %}
    </h3>

    <div class="w-full h-72">
        <canvas id="progressChart" width="400" height="300"></canvas>
    </div>
</div>
<script id="progress-data" type="application/json">
    {{ progress_data_json|safe }}
</script>


            
            <script id="delayed-goals-titles" type="application/json">
                {{ delayed_goals_titles_json|safe }}
            </script>

            <script id="delayed-goals-delay" type="application/json">
                  {{ delayed_goals_delay_json|safe }}
            </script>

            <!-- الاهداف المتأخرة -->
            <div class="mt-8 bg-white p-4 rounded-lg shadow">
                <h3 class="font-semibold mb-4 text-center">الأهداف المتأخرة</h3>
                <div class="w-full h-72">
                    <canvas id="delayedGoalsChart"></canvas>
                </div>
            </div>



            <!-- مستوى تقدم الخطة -->
            <div class="relative w-60 h-60 ml-10">
                <svg class="w-full h-full rotate-180" viewBox="0 0 36 36">
                    <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-100" stroke-width="3"
                        stroke-dasharray="50 100" stroke-linecap="round"></circle>

                    <circle id="plan-gauge" cx="18" cy="18" r="16" fill="none" data-value="{{ plan_avg }}"
                        class="stroke-current text-green-600 transition-all duration-1000 ease-out" stroke-width="1"
                        stroke-dasharray="0 100" stroke-linecap="round"></circle>
                </svg>

                <div class="absolute inset-0 flex flex-col items-center justify-start text-center pt-16">
                    <span class="text-2xl font-bold text-green-600">
                        {{ plan_avg }}%
                    </span>
                    <span class="text-xs text-green-600">تقدم الخطة</span>
                </div>
            </div>
<!-- بحط ترتيب الاداراات -->

</div>


            <!-- #################################################################################################### -->
            <div class="flex items-center gap-3 bg-[#00675B]/20 px-4 py-2 rounded-md">
                <svg class="text-[#00675B]" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-target-arrow">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M11 12a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                    <path d="M12 7a5 5 0 1 0 5 5" />
                    <path d="M13 3.055a9 9 0 1 0 7.941 7.945" />
                    <path d="M15 6v3h3l3 -3h-3v-3l-3 3" />
                    <path d="M15 9l-3 3" />
                </svg>

                <h2 class="text-lg font-medium text-[#00675B]">
                    الأهداف
                </h2>
            </div>

            <div class="bg-white w-full">
                <!-- Container for Search, Filter -->
                <div class="py-3 flex items-center justify-between gap-4">

                    <!-- Search Input -->
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <!-- Search icon -->
                            <svg class="w-4 h-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-4.35-4.35M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0z" />
                            </svg>
                        </div>
                        <input type="text" id="search"
                            class="block w-full ps-9 pe-3 py-2 border rounded-full hover:border-gray-400 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="البحث عن هدف...">
                    </div>

                    <!-- Filter Button -->
                    <div class="relative">
                        <button id="dropdownDefaultButton"
                            class="flex flex-row-reverse items-center justify-between text-body bg-white border rounded
                         text-gray-500 hover:text-gray-800 hover:bg-neutral-tertiary-medium shadow-xs font-medium leading-5 rounded-lg text-sm px-3 py-2 focus:outline-none gap-2 "
                            type="button">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-width="2"
                                    d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z" />
                            </svg>
                            <span class="ml-1">الحالة</span>
                            <svg id="dropdownIcon" class="w-4 h-4 transition-transform duration-200"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m19 9-7 7-7-7" />
                            </svg>
                        </button>

                        <!-- Dropdown Menu -->
                        <div id="dropdown"
                            class="absolute right-0 z-10 hidden bg-white border border-default-medium rounded-base shadow-lg w-32 overflow-hidden">
                            <ul class="p-2 text-sm text-body font-medium">
                                <li>
                                    <button type="button" data-status=""
                                        class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100">الكل</button>
                                </li>
                                <li>
                                    <button type="button" data-status="NS"
                                        class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100">لم
                                        يبدأ
                                        بعد</button>
                                </li>
                                <li>
                                    <button type="button" data-status="IP"
                                        class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100">قيد
                                        التنفيذ</button>
                                </li>
                                <li>
                                    <button type="button" data-status="C"
                                        class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100">مكتمل</button>
                                </li>
                                <li>
                                    <button type="button" data-status="D"
                                        class="filter-btn block w-full text-right px-4 py-2 hover:bg-gray-100">متأخر</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <table class="w-full text-right text-gray-700 border border-gray-200">
                    <thead class="text-sm bg-gray-50 border-b text-center items-center">
                        <tr>
                            <th class="py-3 font-semibold">عنوان الهدف</th>
                            <!-- <th class="py-3 font-semibold">وصف الهدف</th> -->
                            {% if request.user.role.role_name == 'GM' %}
                            <th class="py-3 font-semibold">الإدارة</th>
                            {% endif %}
                            <th class="py-3 font-semibold">الحالة</th>
                            <th class="py-3 font-semibold">
                                <span class="inline-flex items-center gap-1 font-semibold">
                                    <a class="text-gray-400 hover:text-gray-700 transition" title="فرز حسب الأهمية"
                                        href="?{% if request.GET.sort == 'priority' %}{% else %}sort=priority{% endif %}&per_page={{ request.GET.per_page|default:5 }}&page=1">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                            class="size-4">
                                            <path fill-rule="evenodd"
                                                d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                    الأهمية
                                </span>
                            </th>
                            <!-- <th class="py-3 font-semibold"></th> -->
                            <th class="py-3 font-semibold">
                                <span class="inline-flex items-center gap-1 font-semibold">
                                    <a class="text-gray-400 hover:text-gray-700 transition" title="فرز حسب المدة"
                                        href="?{% if request.GET.sort == 'date' %}{% else %}sort=date{% endif %}&per_page={{ request.GET.per_page|default:5 }}&page=1">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                            class="size-4">
                                            <path fill-rule="evenodd"
                                                d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                    مدة تنفيذ الهدف
                                </span>

                            </th>
                            <th class="px-4 py-3 font-semibold text-right">المبادرات</th>
                        </tr>
                    </thead>
                    <tbody id="goalsBody">
                        {% include 'partials\goals_table_rows.html' %}
                    </tbody>
                </table>

                <!-- Pagination -->
                {% if is_paginated %}
                <div class="flex items-center flex-column flex-wrap md:flex-row justify-between px-2 py-4"
                    aria-label="Table navigation" dir="rtl">
                    <span class="text-sm font-normal text-gray-600 mb-4 md:mb-0 block w-full md:inline md:w-auto">
                        عرض
                        <span class="font-semibold text-gray-900">{{ page_obj.number }}</span>
                        من
                        <span class="font-semibold text-gray-900">{{ paginator.num_pages }}</span>
                    </span>
                    <ul class="flex -space-x-px text-sm ">
                        <!-- Previous button -->
                        <li>
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}&per_page={{ request.GET.per_page|default:5 }}&search={{ search }}&priority={{ priority }}"
                                class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium rounded-s-full text-sm px-3 h-9 hover:bg-gray-200 transition-colors duration-200 bg-gray-50">
                                ‹
                            </a>
                            {% else %}
                            <span
                                class="flex items-center justify-center text-gray-400 bg-gray-100 border border-default-medium rounded-s-full text-sm px-3 h-9 cursor-not-allowed bg-gray-50">
                                ‹
                            </span>
                            {% endif %}
                        </li>

                        <!-- Page numbers -->
                        {% for num in page_numbers %}
                        {% if num == '...' %}
                        <li>
                            <span
                                class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium font-medium text-sm w-9 h-9 bg-gray-50">
                                ...
                            </span>
                        </li>
                        {% elif num == page_obj.number %}
                        <li>
                            <span aria-current="page"
                                class="flex items-center justify-center text-[#00675B] bg-[#00675B]/20 bg-neutral-secondary-medium border border-default-medium font-medium text-sm w-9 h-9 hover:bg-gray-200 hover:text-gray-400 duration-200">
                                {{ num }}
                            </span>
                        </li>
                        {% else %}
                        <li>
                            <a href="?page={{ num }}&per_page={{ request.GET.per_page|default:5 }}&search={{ search }}&priority={{ priority }}"
                                class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium font-medium text-sm w-9 h-9 hover:bg-gray-200 bg-gray-50">
                                {{ num }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        <!-- Next button -->
                        <li>
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&per_page={{ request.GET.per_page|default:5 }}&search={{ search }}&priority={{ priority }}"
                                class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium rounded-e-full text-sm px-3 h-9 hover:bg-gray-200 transition-colors duration-200 bg-gray-50">
                                ›
                            </a>
                            {% else %}
                            <span
                                class="flex items-center justify-center text-gray-400 bg-gray-100 border border-default-medium rounded-e-full text-sm px-3 h-9 cursor-not-allowed">
                                ›
                            </span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
</section>

<script>
    // ====== DONUT ======
    const donutCtx = document.getElementById('goalsInitiativesDonut');

    new Chart(donutCtx, {
        type: 'doughnut',
        data: {
            labels: ['لم تبدأ', 'قيد التنفيذ', 'متأخرة', 'مكتملة'],
            datasets: [
                {
                    label: 'الأهداف',
                    data: {{ goals_status_json|safe }},
                    backgroundColor: ['#F2C75C', '#E59256', '#A13525', ' #00685E'],
                    borderWidth: 0,
                    weight: 2
                },
                {
                    label: 'المبادرات',
                    data: {{ initiative_status_json|safe }},
                    backgroundColor: ['#F7E3A9', '#E8B8A0', '#C77C7A', '#0D6A63'],
                    borderWidth: 0,
                    weight: 1
                }
            ]
        },
        options: {
            cutout: '55%',
            plugins: {
                legend: { position: 'right' }
            },
            responsive:true,
            maintainAspectRatio:false
        }
    });


    // // ====== BAR ======
    // const progressData = JSON.parse(document.getElementById('progress-data').textContent);

    // const barLabels = progressData.map(x => x.department__department_name || x.userinitiative__user__username);
    // const barData = progressData.map(x => x.completed_goals || x.completed_initiatives);

    // new Chart(document.getElementById("progressBarChart"), {
    //     type: 'bar',
    //     data: {
    //         labels: barLabels,
    //         datasets: [{
    //             label: "الأهداف/المبادرات المكتملة",
    //             data: barData,
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         responsive: true,
    //         scales: { y: { beginAtZero: true } }
    //     }
    // });

    // ====== BAR (Delayed Goals) ======
    // ====== BAR (Delayed Goals) ======
// const delayedTitles = JSON.parse(document.getElementById('delayed-goals-titles').textContent);
// const delayedDelay = JSON.parse(document.getElementById('delayed-goals-delay').textContent);

// const delayedCtx = document.getElementById('delayedGoalsBar');

// if (delayedCtx) {
//     new Chart(delayedCtx, {
//         type: 'bar',
//         data: {
//             labels: delayedTitles,
//             datasets: [{
//                 label: 'أيام التأخير',
//                 data: delayedDelay,
//                 borderRadius: 8,
//                 borderWidth: 0,
//                 backgroundColor: '#F97316'
//             }]
//         },
//         options: {
//             indexAxis: 'y',
//             responsive: true,
//             maintainAspectRatio: false,
//             plugins: {
//                 legend: { display: false },
//                 tooltip: {
//                     callbacks: {
//                         label: function (context) {
//                             return context.parsed.x + " يوم تأخير";
//                         }
//                     }
//                 }
//             },
//             scales: {
//                 x: { beginAtZero: true }
//             }
//         }
//     });
// }


    // // ====== LINE ======
    // const delayedData = JSON.parse(document.getElementById('delayed-data').textContent);

    // const lineLabels = delayedData.map(d => new Date(d.month).toLocaleDateString('ar-SA', {
    //     month: 'short',
    //     year: 'numeric'
    // }));

    const lineData = delayedData.map(d => d.count);

    new Chart(document.getElementById("delayedGoalsLineChart"), {
        type: 'line',
        data: {
            labels: lineLabels,
            datasets: [{
                label: "الأهداف المتأخرة",
                data: lineData,
                fill: false,
                tension: 0.4,
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            scales: { y: { beginAtZero: true } }
        }
    });
    

    const planGauge = document.getElementById('plan-gauge');
    const value = planGauge.dataset.value;
    planGauge.setAttribute('stroke-dasharray', `${value} 100`);

</script>


{% endblock %}