
@font-face {
    font-family: "DIN Next Lt Arabic Light";
    src:url('/CPMS_app/static/CPMS_app/fonts/ArbFONTS-DINNEXTLTARABIC-LIGHT-1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "DIN Next Lt Arabic Regular";
    src:url('/CPMS_app/static/CPMS_app/fonts/ArbFONTS-DINNextLTArabic-Regular-2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DIN Next Lt Arabic Medium";
    src:url('/CPMS_app/static/CPMS_app/fonts/ArbFONTS-DINNextLTArabic-Medium-2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.toast-message {
    transform: translateY(-20px);
    opacity: 0;
    animation: slide-in 0.5s forwards, fade-out 0.5s 2.5s forwards;
}

@keyframes slide-in {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}
